.post-page {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 48px;
}

.post-content {
  font-size: 16px;
  text-wrap: pretty;
  line-height: 1.6;
  color: var(--color-dark-4);
}

.post-information {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark-1);
  text-wrap: balance;
}
