:root {
  --color-brand-1: #8ff0a4;
  --color-brand-2: #57e389;
  --color-brand-3: #33d17a;
  --color-brand-4: #2ec27e;
  --color-brand-5: #26a269;

  --color-light-1: #ffffff;
  --color-light-2: #f6f5f4;
  --color-light-3: #deddda;
  --color-light-4: #c0bfbc;
  --color-light-5: #9a9996;

  --color-dark-1: #77767b;
  --color-dark-2: #5e5c64;
  --color-dark-3: #3d3846;
  --color-dark-4: #241f31;
  --color-dark-5: #000000;
}
